<!-- PUBLIC OWNER PROFILE -->

<div class="container my-5">
  <div class="row justify-content-center">

    <!-- LEFT PART -->

    <div class="col-3">

      <!-- OWNER AVATER, NUMBER OF BOOKINGS, RATING, MEMBER SINCE **** -->

      <div class="card public-card-owner">

        <div class="card-header card-owner-header">
          <div class="user-card-avatar" >
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: 150, width: 150, crop: :fill%>
            <% else %>
              <%= image_tag "https://i48.servimg.com/u/f48/16/78/05/90/myster10.png", class: "avatar dropdown-toggle avatar_user_navbar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>
        </div>

        <div class="card-body card-owner-body mx-3 border-bottom">
          <div class="bookings-and-average-rating">
            <div class="card-owner-important-info">
              <h4><i class="fas fa-calendar-check"></i><%= @user.bookings.count %></h4>
              <p>bookings</p>
            </div>
            <div class="card-owner-important-info">
              <div class="d-flex inline-flex align-items-center">
                <h4>
                  <i class="fas fa-star"></i><%= @user.average %>
                </h4>
                <h6 class="ml-1">/5</h6>
              </div>
              <p>evaluations</p>
            </div>
          </div>
          <div class="member-since-info">
            <h6>Member since <%= @user.created_at.year %></h6>
          </div>
        </div>

        <!-- OWNER REVIEW FORM -->

        <div class="card-footer card-owner-footer my-3">
          <%= simple_form_for([@user, @user_review], remote: true) do |f| %>
            <%= f.input :rating, collection: 0..5, as: :radio_buttons, input_html: { class: "radio-buttons"} %>
            <%= f.input :content, label: false, placeholder: "Write a review...", :input_html => {:rows => 5} %>
            <%= f.submit class: "btn btn-orange", value: "Send review" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-1">
    </div>

    <!-- RIGHT PART -->

    <div class="col-7">

      <!-- HELLO MESSAGE & OWNER CITY -->
      <div class="public-owner-welcome-message">
        <h2 class="mb-3">Hey, I'm <%= @user.first_name %></h2>
        <% if @user.address.present? %>
          <h5 class="border-bottom pb-4">  <i class="fas fa-home mr-2"></i> From <%= @user.address %></h5>
        <% end %>
      </div>

      <!-- OWNER'S PLACES -->

      <% if @user.places.present? %>
        <h4 class="public-owner-listing mt-4">My places</h4>
        <div class="my-dashboard-cards my-places-cards">
          <% @user.places.each do |place| %>
            <div class="my-dashboard-card align-items-end">
              <div class="my-dashboard-card-place">
                <% if place.photos.attached? %>
                  <%= cl_image_tag place.photos.sample.key, height: 120, width: 120, crop: :fill, alt: "place-pic" %>
                <% else %>
                  <%= image_tag "monkey.jpg", height: 120, width: 120, crop: :fill, alt: "place-pic" %>
                <% end %>
                <div class="my-dashboard-card-infos">
                  <h2><%= link_to place.title, place_path(place)%></h2>
                  <h3><%= place.address.split(",")[-3] %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- OWNER'S REVIEWS -->

      <% if @user.user_reviews.present? %>
        <h4 class="public-owner-listing mt-4">My reviews</h4>
        <div class="my-reviews-owner-cards">
          <% @user.user_reviews.sort_by { |review| review.created_at }.reverse.each do |review| %>
            <div class="my-dashboard-card align-items-end">
              <div class="card-body d-flex">
                <div class="rating-in-card-review-public">
                  <h5 class="card-text pr-3"><i class="fas fa-star"></i> <%= review.rating %> <span style="font-size: 11px;">/5</span></h5>
                </div>
                <h5 class="card-text pl-3 border-left"><em>"<%= review.content %>"</em></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
