<!-- TITLE MODAL -->

<div class="modal fade" id="titleModal" tabindex="-1" role="dialog" aria-labelledby="titleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="form-group">
        <%= simple_form_for(place) do |f| %>
        <div class="modal-body">
          <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= f.input :title, label: false, placeholder: place.title %>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-green', value: "Update title" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ADDRESS MODAL -->

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="form-group">
        <%= simple_form_for(place) do |f| %>
        <div class="modal-body">
          <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= f.input :address, id: 'place_address', label: false, placeholder: place.address %>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-green', value: "Update address" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- DESCRIPTION MODAL -->

<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="form-group">
        <%= simple_form_for(place) do |f| %>
        <div class="modal-body">
          <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= f.input :description, label: false, placeholder: place.description, :input_html => {:rows => 15} %>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-green', value: "Update description" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- REVIEW MODAL -->

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="form-group">
        <%= simple_form_for([@place, @place_review], remote: true) do |f| %>
        <div class="modal-body">
          <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= f.input :rating, collection: 0..5, as: :radio_buttons, class: 'px-2' %>
          <%= f.input :content, label: false, placeholder: "Write a review..." %>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-green', value: "Send review" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- CAPACITY & PRICE MODAL -->

<div class="modal fade" id="capacityPriceModal" tabindex="-1" role="dialog" aria-labelledby="capacityPriceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="form-group">
        <%= simple_form_for(place) do |f| %>
        <div class="modal-body">
          <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= f.input :capacity, label: false, placeholder: place.capacity, hint: "capacity" %>
          <%= f.input :price, label: false, placeholder: place.price, hint: "price" %>
        </div>
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-green', value: "Update capacity & price" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


