<div class="placescontainer">
  <div class="places-cards">
    <% @places.each do |place| %>
      <%= link_to place_path(place), data: { turbolinks: false } do %>
      <div class="places-card">
        <% if place.photos.attached? %>
          <div class="img-places-card" style="background-image: url('<%= cl_image_path place.photos.sample.key, height: 300, width: 300, crop: :fill %>')">
          </div>
        <% else %>
          <div class="img-places-card" style="background-image: url('<%= image_path "degrade-appareil.png" %>')">
          </div>
        <% end %>
        <div class="places-card-infos">
          <div>
            <h2><%= place.title %></h2>
            <p><%= place.address.split(",")[-3] %></p>
          </div>
          <div>
            <h2 class="text-center"><%= place.price %> €</h2>
            <p><i class="fas fa-star" style="color:#25A5AD"></i> <%= place.average_rating %>/5</p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div id="map"
        style="width: 100%;
       height: 100vh;
       position: sticky;
       top: 0;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="pk.eyJ1IjoidGhvbWFzLXJvc2U3NiIsImEiOiJjazYyOGRieWgwYWlyM2Zxd29rZ2hiOGJsIn0.uq_GyWQAqSz7DsRV2rLLTg">
  </div>
</div>

<p>hey just to try sth</p>
