<!-- CAROUSEL -->

<% if @place.photos.attached? %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @place.photos[0].key, alt: "First slide", class: "d-block w-100", height: 1000, crop: :fill %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag @place.photos[1].key, alt: "Second slide", class: "d-block w-100", height: 1000, crop: :fill %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag @place.photos[2].key, alt: "Third slide", class: "d-block w-100", height: 1000, crop: :fill %>
        </div>
        <% if @place.user = current_user %>
          <a href="#titleModal" data-toggle="modal" data-whatever="@mdo" class="text-center"><i class="far fa-images"></i></a>
          <%= render 'update_modal', place: @place %>
        <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <% if @place.user == current_user %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" id="carousel-inner-no-photo">
          <div class="carousel-item active d-flex justify-content-center">
            <div class="carousel-upload">
              <h2 class="mb-4">Attract renters, upload pictures of your place !</h2>
              <%= simple_form_for(@place) do |f| %>
                <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
                <%= f.submit class: 'btn btn-orange', value: "Submit" %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  <% else %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" id="carousel-inner-no-photo">
        <div class="carousel-item active">
          <%=  image_tag "degrade-appareil.png", alt: "First slide", class: "d-block w-100" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- TITLE & ADDRESS & AVERAGE RATING -->

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card show-card text-center">
        <% if @place.user == current_user %>
          <h1 class="show-card-title"><%= @place.title %>
            <a href="#titleModal" data-toggle="modal" data-whatever="@mdo"><i class="fas fa-pencil-alt" style="font-size: 20px"></i></a>
          </h1>
          <%= render 'update_modal', place: @place %>
        <% else %>
          <h1 class="show-card-title"><%= @place.title %></h1>
        <% end %>


        <% if @place.user == current_user %>
          <p class="show-address"><%= @place.address %>
            <a href="#addressModal" data-toggle="modal" data-whatever="@mdo"><i class="fas fa-pencil-alt"></i></a>
          </p>
          <%= render 'update_modal', place: @place %>
        <% else %>
          <p class="show-address"><%= @place.address %></p>
        <% end %>

        <% if @place.place_reviews.present? %>
          <h5 class="rating"><% @place.average_rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @place.average_rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
          </h5>
        <% end %>
      </div>
    </div>

    <!-- DESCRIPTION & MAP & REVIEWS -->
    <div class="col-8">
      <div class="card show-card">

        <!-- description -->

        <h3 class="show-card-title">More informations about the place...</h3>
        <% if @place.user == current_user %>
          <p class="show-card-text"><%= @place.description %>
            <a href="#descriptionModal" data-toggle="modal" data-whatever="@mdo"><i class="fas fa-pencil-alt"></i></a>
          </p>
          <%= render 'update_modal', place: @place %>
        <% else %>
          <p class="show-card-text"><%= @place.description %></p>
        <% end %>

        <!-- map -->

        <div id="map"
              style="width: 100%;
             height: 350px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="pk.eyJ1IjoidGhvbWFzLXJvc2U3NiIsImEiOiJjazYyOGRieWgwYWlyM2Zxd29rZ2hiOGJsIn0.uq_GyWQAqSz7DsRV2rLLTg">
        </div>
      </div>

        <!--  reviews -->

      <div class="card show-card">

        <% if @place.place_reviews.present? %>
          <h3 class="show-card-title pt-2">Reviews about this place...</h3>
          <div class="show-card-text">
            <ul class="list-group list-group-flush">
              <% @place.place_reviews.each do |place_review| %>
              <li class="list-group-item d-flex flex-inline">
                <p><strong><%= place_review.user.first_name %></strong></p>
                <p class="ml-4"><%= place_review.content %></p>
              </li>
            <% end %>
              <li class="list-group-item d-flex flex-inline list-group-item-green"><a href="#reviewModal" data-toggle="modal" data-whatever="@mdo">Give this place a review</a></li>
              <%= render 'update_modal', place: @place %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-4">

      <!-- BOOKING CARD -->

      <% if @place.user != current_user %>
        <div class="card show-card place-booking-card">
          <h3 class="show-card-title">Book this place !</h3>
          <div class="form-and-submit">
            <%= simple_form_for([@place, @booking]) do |f| %>
              <%= f.input :date, as: :string, placeholder: 'Choose a date', label: false, input_html: { class: "datepicker" } %>
              <%= f.submit 'Book', class: 'btn btn-light w-100' %>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- DETAILS CARD -->

      <div class="card show-card place-details-card">
        <div class="details">

          <div class="details-capacity">
            <i class="fas fa-users pr-2"></i>
            <span><%= @place.capacity %></span>
          </div>
          <div class="details-price">
            <i class="fas fa-euro-sign pr-2"></i>
            <span><%= @place.price %></span>
          </div>

          <% if @place.user == current_user %>
            <a href="#capacityPriceModal" data-toggle="modal" data-whatever="@mdo"><i id= "white-pencil" class="fas fa-pencil-alt"></i></a>
          <% end %>

        </div>
      </div>

      <!-- OWNER INFORMATION -->

      <div class="card show-card place-user-card">
        <h6 class="show-card-title no-mb">Owner information</h6>
        <div class="place-user-information">
          <div class="user-card-avatar mr-3">
            <% if @place.user.photo.attached? %>
              <%= cl_image_tag @place.user.photo.key, alt: "user-picture" %>
            <% else %>
              <%= image_tag "https://i48.servimg.com/u/f48/16/78/05/90/myster10.png", alt: "user-picture" %>
            <% end %>
          </div>
          <div class="user-card-name">
            <%= link_to @place.user.first_name, public_user_path(@place.user) %>
          </div>
        </div>
      </div>

      <!-- CHAT MESSAGES -->

      <% if user_signed_in? %>
      <button id="chat-button" class="btn-green py-2 px-3 mb-4 rounded">Start a conversation</button>
      <% end %>
      <div id="chatroom" class="rounded chatroom-hidden">

        <h5>Your conversation with <%= @place.user.first_name %> :</h5>

        <div id="messages">

          <ul class="list-unstyled chat-messages">
          </ul>
        </div>
        <form action="#" id="comment-form" class="border-top">
          <div class="form-group">
            <label for="your-message">Your message</label>
            <textarea type="text" name="content" id="your-message" class="form-control" placeholder="Your message"></textarea>
          </div>
          <div class="form-group">
            <label for="your-name">From</label>
            <input type="text" name="content" id="your-name" class="form-control" placeholder="Your name">
          </div>
          <input type="submit" value="Send" class="btn btn-green rounded">
        </form>
      </div>

      <!-- SHARING -->

      <div class="card show-card place-share-card">
        <div class="flex-align">
          <h6 class="show-card-title no-mb">Share this place</h6>
          <div class="flex">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-pinterest-square"></i>
            <i class="fas fa-envelope-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
